<section class="download-app">
    <div class="container">
        <div class="download-iphone">
            <img src="images/other/ihponeapp.png" alt="an iPhone with the app downloaded">
        </div>
        <div class="app-guide">
            <div class="apptext-title">
                <h2 class="h1">Download Our App for Any Devices:</h2>
            </div>
            <div class="app-download-reviews">
                <div class="apptext-downloads">
                    <article>
                        <p>App Store</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <h4 class="h4">Editor's Choice</h4>
                        <p>rating 4.7, 187K+ reviews</p>
                    </article>
                    <img src="images/logos/appstore.png" alt="Download button for App Store">
                </div>
                <div class="apptext-downloads">
                    <article>
                        <p>Google Play</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <h4 class="h4">App of the Day</h4>
                        <p>rating 4.8, 30K+ reviews</p>
                    </article>
                    <img src="images/logos/googleplay.png" alt="Download button for Google Play">
                </div>
            </div>
        </div>
    </div>
</section>