<section class="light-dark-section">
    <div class="dark-background"></div>
    <div class="container">
        <div class="slider-container">
            <div class="slider" id="modeSlider">
                <img src="images/other/slider.png" alt="slider">
            </div>
        </div>
        <div class="slider-content">
            <h2 class="light-text">Switch between <span class="dark-text">Light</span> <span class="dark-text">&amp;</span> <span class="dark-text">Dark Mode</span></h2>
            <img src="images/other/macbook.png" alt="macbook">

        </div>
    </div>
</section>