<section class="manage-work">
    <div class="container">
        <img src="images/other/managework.png" alt="picture of how the app looks">  
        <div class="manage-text">
            <h2>Manage Your Work</h2>
            <ul>
                <li><i class="fa-regular fa-circle-check"></i> Powerful project management</li>
                <li><i class="fa-regular fa-circle-check"></i> Transparent work management</li>
                <li><i class="fa-regular fa-circle-check"></i> Manage work & focus on the most important tasks</li>
                <li><i class="fa-regular fa-circle-check"></i> Track your progress with interactive charts</li>
                <li><i class="fa-regular fa-circle-check"></i> Easiest way to track time spent on tasks</li>
            </ul>
            <a class="btn-theme" asp-action="Manage-Work" asp-controller="Products">Learn More<i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</section>