<section class="work-tools">
    <div class="container">
        <div class="work-tool-title">
            <h2 class="h1">Integrate Top Work tools</h2>
            <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>
        <div class="tools">
            <div class="article-content">
                <img src="/images/logos/Google-tool.png">
                <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </div>
            <div class="article-content">
                <img src="/images/logos/Zoom-tool.png">
                <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </div>
            <div class="article-content">
                <img src="/images/logos/Slack-tool.png">
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="article-content">
                <img src="/images/logos/gmail-tool.png">
                <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </div>
            <div class="article-content">
                <img src="/images/logos/Trello-tool.png">
                <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </div>
            <div class="article-content">
                <img src="/images/logos/MailChimp-tool.png">
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="article-content">
                <img src="/images/logos/Dropbox-tool.png">
                <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </div>
            <div class="article-content">
                <img src="/images/logos/Evernote-tool.png">
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>
        </div>
    </div>
</section>