<div class="our-tool">
    <div class="container">
        <div class="our-tool-title">
            <h2 class="h1">What Do You Get with Our Tool?</h2>
            <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        </div>
        <div class="tool-options">
            <div class="article-content">
                <img src="/images/tool-chat.png">
                <h5 class="h5">Comments on Tasks</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="article-content">
                <img src="/images/tool-presentation.png">
                <h5 class="h5">Tasks Analytics</h5>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </div>
            <div class="article-content">
                <img src="/images/tool-add-group.png">
                <h5 class="h5">Multiple Assignees</h5>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="article-content">
                <img src="/images/tool-Group.png">
                <h5 class="h5">Notifications</h5>
                <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </div>
            <div class="article-content">
                <img src="/images/tool-test.png">
                <h5 class="h5">Sections & Subtasks</h5>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </div>
            <div class="article-content">
                <img src="/images/tool-shield.png">
                <h5 class="h5">Data Security</h5>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </div>
        </div>
    </div>
</div>