<div class="task-management">
    <div class="container">
        <div class="tasktext">
            <h1 class="d4">Task Management Assistant You Gonna Love</h1>
            <p>We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
            <button class="btn-theme">Ger started for free</button>
            <h6 class="h6">Largest companies use our tool to work efficiently</h6>
            <img src="images/companieslogos.png" alt="logoipsum, logoipsum, logoipsum and logoipsum">
        </div>
        <div class="taskimg">
            <img src="images/taskmanagement.svg">
        </div>
    </div>
</div>