<section id="Showcase">
    @await Html.PartialAsync("~/Views/Shared/Sections/_Task-Management.cshtml");
</section>
<section id="Features">
    @await Html.PartialAsync("~/Views/Shared/Sections/_Our-Tools.cshtml");
</section>