@model SignUpViewModel
@{
    ViewData["Title"] = "Sign Up";
}

<section class="sign-up">
    <div class="container">

        @if (!string.IsNullOrEmpty(ViewData["StatusMessage"]?.ToString()))
        {
            <div class="alert alert-danger">
                @ViewData["StatusMessage"]
            </div>
        }

        <form method="post" asp-action="SignUp" asp-controller="Auth" novalidate>
            <h1>Create Account</h1>
            <p>Already have an account? <a asp-action="SignIn" asp-controller="Auth">Sign in here</a></p>

            <div class="form-content">
                <div id="form-firstname" class="input-group">
                    <label asp-for="FirstName"></label>
                    <span asp-validation-for="FirstName"></span>
                    <input asp-for="FirstName" />

                </div>
                <div id="form-lastname" class="input-group">
                    <label asp-for="LastName"></label>
                    <span asp-validation-for="LastName"></span>
                    <input asp-for="LastName" />
                    
                </div>
                <div id="form-email" class="input-group">
                    <label asp-for="Email"></label>
                    <span asp-validation-for="Email"></span>
                    <input asp-for="Email" />
                    
                </div>
                <div id="form-password" class="input-group">
                    <label asp-for="Password"></label>
                    <span asp-validation-for="Password"></span>
                    <input asp-for="Password" />
                    
                </div>
                <div id="form-confirmpassword" class="input-group">
                    <label asp-for="ConfirmPassword"></label>
                    <span asp-validation-for="ConfirmPassword"></span>
                    <input asp-for="ConfirmPassword" />
                    
                </div>
                <div id="form-checkbox" class="checkbox-group">
                    <div class="input-group">
                        <input asp-for="TermsAndConditions" />
                        <label asp-for="TermsAndConditions"></label>
                    </div>
                    <span asp-validation-for="TermsAndConditions"></span>
                </div>
                <div id="form-button">
                    <button type="submit" class="btn btn-theme"><i class="fa-regular fa-arrow-left-to-bracket"></i>Sign up</button>
                </div>
            </div>
        </form>

    </div>
</section>

@await Html.PartialAsync("_ValidationScriptPartial")